<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlos.stellarControl">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activities.MainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.Global" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainLogin" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainRegistro" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainGeneral" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainUsuario" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainMensajes" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainPlaneta" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainConstruccion" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainFlota" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainAlianza" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainGalaxia" android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>